<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cr.dao.LoginUserBeanDao">
  <update id="updateByPrimaryKey" parameterType="com.cr.entity.LoginUserBean">
    update t_u_user
    set c_loginname = #{cLoginname,jdbcType=VARCHAR},
      c_loginpass = #{cLoginpass,jdbcType=VARCHAR},
      c_name = #{cName,jdbcType=VARCHAR},
      c_age = #{cAge,jdbcType=TINYINT},
      c_sex = #{cSex,jdbcType=TINYINT},
      c_isuse = #{cIsuse,jdbcType=TINYINT},
      c_creater = #{cCreater,jdbcType=VARCHAR},
      c_createtime = #{cCreatetime,jdbcType=TIMESTAMP},
      c_desc = #{cDesc,jdbcType=VARCHAR}
    where sid = #{sid,jdbcType=INTEGER}
  </update>
  <select id="login" parameterType="java.util.Map" resultType="LoginUserBean">
    SELECT * from t_u_user where c_loginname=#{userName} and c_loginpass =#{userPass}
  </select>
</mapper>